:root {
	--primary-color: #1d9bf0;
	--black-color: #000000;
	--grey-color: #3c4043;
	--white-color: #FFFFFF;
	--button-color: #dadce0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

.flex-column {
	gap: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*Login*/
.login__section {
	padding: 20px;
}

.login__logoContainer {
	height: 70px;
	padding: 5px 5px 0;
}

.login__logoContainer img {
	width: 45px;
	height: 45px;
}

.login--title {
	width: 300px;
	margin: 30px auto;
	font-size: 4rem;
	font-weight: 700;
	line-height: 49px;
	letter-spacing: -0.8px;
	word-wrap: break-word;
}

.login--subtitle {
	width: 300px;
	margin: 50px auto;
	font-size: 2.2rem;
}

.login__sectionButtons {
	width: 300px;
}

.button {
	width: 300px;
	height: 40px;
	padding: 10px;
	gap: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.6rem;
	font-weight: 700;
	text-align: center;
	letter-spacing: 0.25px;
	border-radius: 20px;
	/*white-space: nowrap;*/
	user-select: none;
	border: 1px solid var(--button-color);
	background-color: var(--white-color);
}


.login__sectionButtons--buttonOne {
	color: var(--white-color);
	background: var(--primary-color);
}

.login__sectionButtons--button:first-child {
	color: var(--grey-color);
}

.login__sectionButtons--buttonTwo {
	color: var(--primary-color);
}

.login__sectionButtons--middle {
	position: relative;
	font-size: 1.8rem;
}

.login__sectionButtons--middle::before {
	content: "";
	width: 135px;
	height: 2px;
	position: absolute;
	top: calc(100% - 10px);
	left: calc(100% - 150px);
	background: var(--button-color);
}

.login__sectionButtons--middle::after {
	content: "";
	width: 135px;
	height: 2px;
	position: absolute;
	top: calc(100% - 10px);
	right: calc(100% - 150px);
	background: var(--button-color);
}

.login__sectionButtons--pOne {
	width: 100%;
	font-weight: bold;
	font-size: 1.8rem;
	text-align: left;
}

.login__sectionButtons--p {
	margin: 10px 0 50px;
	font-size: 1.4rem;
	text-align: justify-all;
}

.login__sectionButtons--item {
	color: var(--primary-color);
	padding-bottom: 2px;
	border-bottom: 1px solid transparent;
}

.background--image {
	width: 100%;
	height: 40vh;
	justify-content: center;
	background: url("https://abs.twimg.com/sticky/illustrations/lohp_850x623.png");
	background-size: cover;
}

footer {
	padding: 20px;
	gap: 12px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	font-size: 1.4rem;
	color: var(--grey-color);
	word-wrap: break-word;
}

.footer--item {
	padding-bottom: 2px;
	border-bottom: 1px solid transparent;
}

@media (hover: hover) {
	.footer--item:hover {
		cursor: pointer;
		opacity: 0.8;
		border-color: var(--grey-color);
	}
	.button:hover {
		cursor: pointer;
		opacity: 0.8;
	}
	.login__sectionButtons--item:hover {
		cursor: pointer;
		opacity: 0.8;
		border-color: var(--primary-color);
	}
}

@media screen and (min-width: 768px) {
	.flex {
		display: flex;
		flex-direction: row-reverse;
	}
	.login__section {
		width: 500px;
	}
	.login--title {
		width: 100%;
		text-align: center;
	}
	.background--image {
		width: 268px;
		height: 100vh;
	}
}

@media screen and (min-width: 1024px) {
	.login__section {
		width: 45%;
	}
	.background--image {
		width: 55%;
		height: 110vh;
	}
}